.errorIndicator{
    max-width: 1048px;
    margin: 0 auto;
    padding: 30px 35px;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #bd3939;
}

.errorIndicator p{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5;
    color: #424242;
}